### Importing the libraries

In [1]:
import pandas as pd
import numpy as np
import requests
from bs4 import BeautifulSoup
from time import sleep
from random import randint

In [2]:
#creating an array of values and passing it in the url for dynamic webpages
pages = np.arange(1,7885,50)

In [3]:
#declaring the list of empty variables, So that we can append the data overall
movie_name = []
year = []
time=[]
rating=[]
votes = []
Genre = []
url = 'https://www.imdb.com/search/title/?companies=co0476953'

In [4]:
for page in pages:
    page = requests.get('https://www.imdb.com/search/title/?companies=co0476953&start='+str(page)+'&ref_=adv_nxt')
    soup = BeautifulSoup(page.text, 'html.parser')
    movie_data = soup.findAll('div', attrs = {'class': 'lister-item mode-advanced'})
    sleep(randint(2,8))
    for store in movie_data:
        movie_data = soup.findAll('div', attrs = {'class': 'lister-item mode-advanced'})
        name=store.h3.a.text
        movie_name.append(name)
    
        year_of_release = store.h3.find('span', class_ = 'lister-item-year text-muted unbold').text.replace('(', '').replace(')', '').replace('â€“ ','')
        year.append(year_of_release)
    
        runtime = store.p.find('span', class_ = 'runtime').text.replace(' min', '') if store.p.find('span', class_ = 'runtime') else '***'
        time.append(runtime)
    
        genre = store.p.find('span', class_='genre').text.replace('\n','').strip() if store.p.find('span', class_='genre') else '***'
        Genre.append(genre)
    
        rate = store.find('div', class_ = 'inline-block ratings-imdb-rating').text.replace('\n', '') if store.find('div', class_ = 'inline-block ratings-imdb-rating') else '***'
        rating.append(rate)
    
        value = store.find('span', attrs = {'name': 'nv'}).text if store.find_all('span', attrs = {'name': 'nv'}) else '***'
        votes.append(value)

In [5]:
df = pd.DataFrame({'Name of movie': movie_name, 'Year of relase': year, 'Watchtime': time, 'Genre': Genre, 'Movie Rating': rating,'Votes': votes})

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7886 entries, 0 to 7885
Data columns (total 6 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Name of movie   7886 non-null   object
 1   Year of relase  7886 non-null   object
 2   Watchtime       7886 non-null   object
 3   Genre           7886 non-null   object
 4   Movie Rating    7886 non-null   object
 5   Votes           7886 non-null   object
dtypes: object(6)
memory usage: 369.8+ KB

In [10]:
df.tail(10)

,Name of movie,Year of relase,Watchtime,Genre,Movie Rating,Votes
7876,Nova,1974,54,Documentary,7.8,79
7877,Devin,2019,***,Comedy,***,***
7878,Devin,2019,***,Comedy,***,***
7879,Devin,2019,***,Comedy,***,***
7880,Strange Therapy,2019,***,"Comedy, Romance",9.1,9
7881,Strange Therapy,2019,***,"Comedy, Romance",9.0,8
7882,Strange Therapy,2019,***,"Comedy, Romance",9.0,8
7883,Strange Therapy,2019,***,"Comedy, Romance",9.0,8
7884,Strange Therapy,2019,***,"Comedy, Romance",9.1,9
7885,Strange Therapy,2019,***,"Comedy, Romance",9.1,9

In [13]:
df.to_csv("Prime Video.csv")